extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profil uchazeče

  form(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=user.email, autocomplete='email')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Jméno
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=user.profile.name, autocomplete='name')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Pohlaví
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Muž
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Žena
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
          span Jiný
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Město
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=user.profile.location, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Věk
      .col-md-7
        input.form-control(type='text', name='age', id='age', value=user.profile.location, autocomplete)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Aktualizovat profil

  .pb-2.mt-2.mb-4.border-bottom
    h3 Změnit heslo

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Nové heslo
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Nové heslo znovu
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Změnit heslo

  .pb-2.mt-2.mb-4.border-bottom
    h3 Smazat účet

  form(action='/account/delete', method='POST', onsubmit="return confirm('Opravdu?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 Smazání účtu je nevratná operace.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Smazat účet

  .pb-2.mt-2.mb-4.border-bottom
    h3 Připojené účty
  .form-group
    .offset-sm-3.col-md-7.pl-2
      if user.facebook
        p.mb-1: a.text-danger(href='/account/unlink/facebook') Odpojit Fb účet
      else
        p.mb-1: a(href='/auth/facebook') Link your Facebook account
