extends layout

block content
  if !authenticated
    h1 #{game.name}
    p.lead Nevšední zážitková hra v přírodě
    hr
    .row
        .col-md-12
        h2 Intro
        each p in game.intro
          p #{p}
  else
    .row
      .col-md-12
        if !user.role.role || !user.profile.name || !user.profile.age
          p Vyplň, prosím, osobní informace ve svém
            a(href="/account") profilu
        else
          .identification
            .flex.center
              h2.heading1 Občanský průkaz
            .flex.center
              p občanská kategorie: 1
            dt Jméno Příjmení
            dd #{user.role.name}
            dt Národnost
            dd #{user.role.nationality}
            dt Pohlaví
            dd #{user.role.sex}
