extends layout

block content
    .row
      .col-md-12
        each fractionRoles, key in rolesUtils.getRolesByFraction()
          h2 #{key}
          p #{fractions[key].description}
          p Podmínky vítězství: #{fractions[key].victoryCondition}
          each fractionRole in fractionRoles
            strong #{fractionRole.role} #{rolesUtils.getRegisteredCount(fractionRole.role)} / #{fractionRole.count}
            p #{fractionRole.description}
            p obtížnost #{fractionRole.difficulty}
          hr
      p
        a.btn.btn-raised(href='/signup', role='button') Registrace »
