extends layout

block content
    .row
      .col-md-12
        each fractionRoles, key in rolesByFraction
          h3 #{key}
          p #{fractions[key].description}
          p Podmínky vítězství: #{fractions[key].victoryCondition}
          table.table-hover.table-bordered(style="table-layout: fixed")
            thead
              th(width="20%") Role
              th(width="60%") A její stručný popis
              th(width="20%") Obtížnost
            each fractionRole in fractionRoles
              tr
                td #{fractionRole.role}
                td #{fractionRole.description}
                td #{fractionRole.difficulty}
          br
      p
        a.btn.btn-raised(href='/signup', role='button') Registrace »
